@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.hero-main  {
    background-color: #1f2937;
    padding: 0 17rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.hero-container {
    padding: 5rem 0;
    display: flex;
    gap: 80px;
    height: 200px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 5px;
}

.placeholder {
    width: 50%;
    background-color: #626872;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    flex-shrink: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

.info {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 600;
    padding-bottom: 30px;
}

.info-content {
    display: flex;
    gap: 50px;
} 

.box {
    width:  120px;
    height: 120px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.box-text {
    width: 120px;
    font-size: 18px;
    color: #1f2937;
}

ul {
    display: flex;
    gap: 15px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}